{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        <div id="gallery">

        </div>
        <div id="pagination">

        </div>

    </section>

    <script type="text/html" id="album-view-template">
        <div class="album">
            <p><%= title %></p>
            <a><%= url %></a>
        </div>
    </script>

    <script type="text/html" id="pagination-view-template">
        <div class="album">
            <% _.each(pages, function(page) { %>
                <% if (page == currentPage) { %>
                    <p style="color: red;"><%= page %></p>
                <% } else { %>
                    <p><%= page %></p>
                <% } %>
            <% }); %>
        </div>
    </script>
{% endblock %}


{% block stylesheets %}
{% endblock %}
